<div class="w-full h-[100vh] bg-slate-200 py-8">
  <div class="container h-full mx-auto bg-primary text-white p-4 flex flex-col gap-4 overflow-hidden">
    <app-header-row (searchValueChange)="searchControl($event)" (toggleFavourites)="displayFavourites($event)"
      creatorUserID="{{soarData?.CreatorUserId}}" eventsHeader={{eventTypeHeader}} />
    <app-tabs-row [rowEvents]="rowEvents" (showDetails)="displayEventDetails($event)" />
    <app-details-row [currentlySelectedEvent]="currentlySelectedEvent" (addToFovourites)="toggleFovourites($event)"
      [isFavourite]="isFavourite" />
  </div>
</div>